<div class="show-container">

    <div class="container-global">

        <div class="container-icons">
            <%# Icons  %>
            <div class="card-icon">
                <%# <%= image_tag "logo.png", alt: "Laure Curallucci de Peretti, full-stack developer" %>
                <div class="card-icon-infos">
                    <div class="icon-card" id="icon-profile">
                        <%= link_to do %>
                            <i class="fas fa-address-card"></i>
                            Profil
                        <% end %>
                    </div>
                    <div class="icon-card" id="icon-projets">
                        <%= link_to do %>
                            <i class="fas fa-folder"></i>
                            Projets
                        <% end %>
                    </div>
                    <div class="icon-card">
                        <%= link_to "https://www.linkedin.com/in/laurecdp/", target: '_blank' do %>
                            <i class="fab fa-linkedin"></i>
                            Linkedin
                        <% end %>
                    </div>
                    <div class="icon-card">
                        <%= link_to "https://github.com/laurecdp", target: '_blank' do %>
                            <i class="fab fa-github-alt"></i>
                            GitHub
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <%# Hidden cards %>
        <div class="container-cards hidden">
            <div class="card-resume">
                <%# <%= image_tag "my_profile.jpg", alt: "Laure Curallucci de Peretti, full-stack developer", class: "img-circle" %>
                <%= image_tag "web_icons.svg", alt: "Stack Technique" %>
                <div class="card-resume-info">
                    <h6><strong>Laure Curallucci de Peretti </strong></h6>
                    <h6>Full stack Développeuse</h6>
                    <p>Reconvertie professionnellement, j'ai découvert chez moi une réelle passion pour le code. Ayant une approche très orientée solutions, j'aime optimiser l'expérience utilisateur que ce soit visuellement ou techniquement.</p>
                </div>  
            </div>
        </div>

        <div class="container-projects d-none">
            <div class="card-projects" id="card-cocktails">
                <%= image_tag "cocktail.png", alt: "Cocktail", class: "img-top" %>
                <div class="card-body">
                    <%= link_to "https://talesoffancy.herokuapp.com/", target: '_blank' do %>
                        <h5 class="card-title">Tales of Fancy</h5>
                    <% end %>
                </div>
            </div>
            <div class="card-projects" id="card-easycare">
                <%= image_tag "doctor.png", alt: "EasyCare", class: "img-top" %>
                <div class="card-body">
                    <%= link_to "https://www.easy-care.org/", target: '_blank' do %>
                        <h5 class="card-title">EasyCare</h5>
                    <% end %>
                </div>
            </div>
            <div class="card-projects" id="card-apparat">
                <%= image_tag "apparat.jpg", alt: "Photo by Lívia Chauar on Unsplash", class: "img-top" %>
                <div class="card-body">
                    <%= link_to "https://apparat.herokuapp.com/", target: '_blank' do %>
                        <h5 class="card-title">Apparat</h5>
                    <% end %>
                </div>
            </div>
        </div>

    </div>

    <div class="datetime">
        <p><i class="fas fa-sort-up"></i></p> 
        <%#= @time = DateTime.now.strftime("%H:%M") %>
        <p class="calendar"><%= @date = Date.today.strftime("%d/%m/%Y") %></p>
    </div>
    
</div>
